@media(min-width: 821px) {
 
    .content {
      height: 450px;
      width: 30%;
      display: inline-block;
      justify-content: space-around;
      flex-shrink: 0;
      flex-grow: 0;
    }
  
    img {
      margin: 0% auto 0px auto;
    }
  
    #subpages {
      font-size: 20px;
    }
  
    .cimg {
      width: 50%;
      margin-left: 10%;
    }
  
    .content:hover {
      transform: scale(1.01);
    }
  
    iframe {
      width: 50%;
      aspect-ratio: 4/3;
    }
  
  }