@media(min-width: 821px) {
    .leftad {
        background-color: rgba(0, 128, 0, 0);
        width: 20%;
        height: 30%;
        display: inline-block;
    }

    .centercont {
        background-color: #EBD3F8;
        width: 60%;
        height: 30%;
        left: 25%;
        display: inline-block;
    }

    .rightad {
        background-color: rgba(0, 128, 0, 0);
        width: 20%;
        height: 30%;
        left: 75%;
        display: inline-block;

    }

}

#cont {
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
}

.downloadbutton {
    align-items: center;
    background-color: rgba(122, 28, 172, 1);
    padding: 1px;
    border-radius: 10px;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #EBD3F8;
    margin: 0 40% 0 41%;
}

.sversion {
    background-color: rgba(122, 28, 172, 1);
    padding: 1px;
    border-radius: 10px;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #EBD3F8;
}