@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

#hid{
 height: 75px;
 width: 100%;
 background-color: #EBD3F8;
}

nav {
  background-color: rgba(122, 28, 172, 1);
  color: rgb(235, 211, 248);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  height: 75px;
  width: 100%;
  font-size: 40px;
  text-decoration: none;
  display: flex;
  font-family: "Lato", sans-serif;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  z-index: 9990;
}

a {
  text-decoration: none;
  background-color: none;
  color: black;
}

.navop{
  color: #EBD3F8;
}

#sidemenu{
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: #2E073F;
  color: #EBD3F8;
  transition: z-index 0.3s, visibility 0s 0.3s;
  box-shadow: 0px 0px 500px rgb(0, 0, 0);
  z-index: -9999;
  visibility: hidden;
  font-family: "Lato", sans-serif;
}
.relative{
  position: relative;
}

#crossicon{
  font-size: 50px;
  margin: 40px 20px;
  cursor: pointer;
}


/* For Big screen */
@media(min-width: 821px) {

  #menuoption {
    width: 0px;
    visibility: hidden;
  }

  #sidemenu{
   width: 0px;
   height:0px;
   visibility: hidden;
  }

  #search-button {
    width: 0px;
    visibility: hidden;
  }

  #menubig {
    display: flex;
    width: 33%;
  }

  #logo img {
    height: 50px;
    width: 50px;
    border-radius: 11px;
    margin: 12.5px 12.5px;
    display: inline-block;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
  }

  #navop {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #navop ul {
    margin-bottom: 15px;
  }

  nav div ul li {
    display: inline-block;
    color: rgb(235, 211, 248);
    font-size: 20px;
    margin-left: 10px;
  }

  #nottilak {
    width: 33%;
    display: flex;
    justify-content: center;
    color: #EBD3F8;
    align-items: center;
  }

  nav #search-box {
    display: flex;
    width: 33%
  }

  #search-box {
    color: #EBD3F8;
    display: flex;
    justify-content: right;
  }

  #search-box form input {
    height: 40px;
    margin: 17.5px 0px 17.5px 13px;
    outline: none;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding-left:10px;
  }

  #search-box form button {
    height: 40px;
    width: 40px;
    margin: 17.5px 13px 17.5px -10px;
    outline: none;
    border: none;
    border-radius: 0px 20px 20px 0px;
  }
}

/* for mobile phone */
@media(max-width: 820px) {
  #menubig {
    width: 0px;
    visibility: hidden;
  }

  #search-box {
    display: none;
    
  }

  nav div ul {
    visibility: hidden;
  }
.active{
  display: block !important;
}
  #sidemenu.active {
    z-index: 9999;
    visibility: visible;
    left: 0;
    transition: left 0.3s ease-out, z-index 0s;
}

  #menuoption{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 3%;
    cursor: pointer;
    font-size: 30px;
    ;
  }

  #sidemenu ul {
    list-style-type: none;
  }
  
  #sidemenu ul li {
    padding: 15px 5px;
    text-align: left;
  }
  
  #sidemenu ul li a {
    color: #EBD3F8;
    display: block;
    text-decoration: none;
    font-size: 25px;
  }

  #sidemenu ul li a i{
    margin: 0px 10px 0px 5px;
  }

  #nottilak{
    width: 80%;
    font-size: 20px;
    display: flex;
    color: #EBD3F8;
    align-items: center;
    justify-content: center;
  }

  #search-button{
    display: flex;
    align-items: center;
    margin-right: 3%;
  }

  #search-box form input{
    position: absolute;
    width: 76vw;
    height: 50px;
    outline: none;
    border: 1px solid;
    border-radius: 30px 0px 0px 30px;
    left: 0;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 80px;
  }

  #search-box form button{
    position: absolute;
    width: 20vw;
    height: 52px;
    outline: none;
    border: 1px black solid;
    font-size: 30px;
    right: 0;
    outline: none;
    border-radius: 0px 30px 30px 0px;
    margin-top: 80px;
  }
}